<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">
      <img src="./assets/img/logo.png" alt="" width="300" height="70">
    </a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#artistas">Artistas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#generos">Generos</a>
        </li>
      </ul>
    </div>
  </nav>
</header>